<div class="bulk-support container container-v2">
  <div class="bulk-support-wrapper">
    <div class="bulk-support-card">
      <img class="bulk-support-icon" src="{{ "phone-icon.svg" | asset_url }}">
      <p class="bulk-support-content">Available over WhatsApp or call</p>
    </div>
    <div class="bulk-support-card">
      <img class="bulk-support-icon" src="{{ "message-icon.svg" | asset_url }}">
      <p class="bulk-support-content">Continuous support throughout your journey</p>
    </div>
    <div class="bulk-support-card">
      <img class="bulk-support-icon" src="{{ "bell-icon.svg" | asset_url }}">
      <p class="bulk-support-content">Easily schedule reorders</p>
    </div>
    <div class="bulk-support-card">
      <img class="bulk-support-icon" src="{{ "folder-lock-icon.svg" | asset_url }}">
      <p class="bulk-support-content">Completely confidential communication</p>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Support Features",
  "settings": [],
  "presets": [{ "name": "Support Features" }],
  "class": "support-features"
}
{% endschema %}
